body {
  background-color: #F4F4F4;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
.navbar__top {
  background: #7E241C;
}
.navbar__icon {
  width: 18px;
  height: 18px;
}
.facebook {
  content: url("../icons/facebook.svg");
}
.twitter {
  content: url("../icons/twitter.svg");
}
.linkedin {
  content: url("../icons/linked-in.svg");
}
.google {
  content: url("../icons/google.svg");
}
.navbar__menu {
  list-style: none;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
}
.font-14 {
  font-size: 14px;
}
.navbar {
  padding-left: 118px;
  padding-right: 118px;
}
.navbar .active {
  color: #7E241C;
  border-bottom: 4px solid #7E241C;
}
.navbar a {
  font-weight: bold;
  font-size: 16px;
  color: #4F4F4F;
  margin-left: 53px;
}
.top-image {
  height: 684px;
  background-image: url(../images/banner-1.jpg);
  position: relative;
}
.layer {
  padding-left: 118px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-layer {
  height: 400px;
  background-color: rgba(126, 36, 28, 0.8);
  position: relative;
}
.video-image {
  background-image: url(../images/class-6.jpg);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.top-image h2 {
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding-top: 178px;
}
.top-image p {
  width: 526px;
  font-weight: 900;
  font-size: 16px;
  line-height: 164.8%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-top: 36px;
}
.get-started {
  width: 225px;
  height: 52px;
  background-color: #955B03;
  border-radius: 0;
  color: #FFF;
}
.news-panel {
  margin-top: -66px;
}
.news-panel-title {
  background-color: #955B03;
  height: 66px;
  padding-left: 10px;
  padding-top: 22px;
}
.news-panel-title span {
  font-weight: 900;
  font-size: 20px;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  transform: rotate(0.18deg);
}
.mt {
  margin-top: 40px;
}
.pan {
  padding-right: 10px;
}
.col-title {
  padding-left: 13px;
  border-left: 10px solid #7E241C;
  height: 26px;
}
.col-title-sub {
  padding-left: 8px;
  border-left: 5px solid #7E241C;
  height: 22px; 
}
.col-title span {
  font-weight: bold;
  font-size: 20px;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  color: #7E241C;
  text-transform: uppercase;
}
.col-body .img {
  height: 209px;
  margin-top: 28px;
}
.col-body .class-1 {background-image: url(../images/class-1.jpg);}
.col-body .class-2 {background-image: url(../images/class-2.jpg);}
.col-body .class-3 {background-image: url(../images/class-3.jpg);}
.col-body .class-4 {background-image: url(../images/class-4.jpg);}
.col-body .class-5 {background-image: url(../images/class-5.jpg);}
.col-body {
  background-color: #FFF;
}
.body-note {
  height: 180px;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 82px;
}
.body-note h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  color: #4F4F4F;
}
.body-note p {
  font-weight: 200;
  font-size: 13px;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  color: #000000;
}
.col-body .more-link {
  position: absolute;
  bottom: 20px;
  font-weight: 900;
  font-size: 22px;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  color: #7E241C;
  text-decoration: none;
}
.col-body .more-link::after, .col-news-body .more-news::after {
  content: "\2192";
  color: #7E241C;
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
}
.col-news-body {
  padding-top: 33px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #FFF;
  height: 540px;
}
.col-news-body .date {
  margin-bottom: 18px;
  font-size: 15px;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  color: #4F4F4F;
}
.col-news-body .news {
  font-size: 20px;
  color: #955B03;
}
.col-news-body .more-news {
  position: absolute;
  bottom: 20px;
  color: #7E241C;
  text-transform: uppercase;
}
.tile {
  margin-top: 70px;
  height: 120px;
  background: #7E241C;
  color: #FFF;
  padding-left: 43px;
  padding-right: 43px;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.tile button {
  width: 159px;
  height: 53px;
  background: #FFFFFF;
  color: #7E241C;
  font-weight: 900;
  font-size: 16px;
}
.dou  p {
  font-size: 16px;
}
.dou h3 {
  margin-top: -15px;
  font-size: 25px;
}
.col-md-12 .sp {
  margin-top: 9px;
  padding-left: 24px;
  font-weight: 300;
  font-size: 15px;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  color: #4F4F4F;
}
.body-note .s-text {
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 0.04em;
  color: #868080;
  padding-left: 13px;
}
.body-note .btn {
  border-radius: 0;
  position: absolute;
  bottom: 20px;
  color: #FFFFFF;
  background-color: #7E241C;
  width: 141px;
  height: 44px;
}
.body-note .btn-2 {
  border-radius: 0;
  position: absolute;
  bottom: 20px;
  color: #FFFFFF;
  background-color: #7E241C;
  width: 250px;
  height: 44px;
}
.row .t {
  padding-top: 80px;
}
.col-title .sm {
  font-size: 20px;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  color: #4F4F4F;
}
.col-title .sm-s {
  font-size: 16px;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  color: #4F4F4F;
}
.pal {
  height: 400px;
}
.video-image .youtube-play {
  width: 101px;
  height: 60px;
  margin: 180px auto;
}
.pal p {
  margin-top: 37px;
  font-size: 25px;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  color: #7E7979;
}
.pal .col-icons {
  margin-top: 80px;
}
.col-icons {
  margin-left: -40px;
}
.col-icons ul {
  list-style: none;
}
.col-icons ul li {
  display: inline;
  margin-right: 20px;
}
.col-icons img {
  width: 24px;
  height: 24px;
}
.col-white-bg {
  background-color: #FFF;
}
.col-md-4 .col-white-bg {
  padding-top: 52px;
  padding-left: 20px;
  height: 400px;
}
.body-note img {
  margin-left: -40px;
}
.row-line .calendar {
  width: 50px;
  height: 50px;
  background-color: #7E241C;
  margin-top: 30px;
  text-align: center;
  color: #FFF;
}
.calendar .day {
  font-weight: bold;
  font-size: 30px;
}
.calendar .my {
  margin-top: -8px;
  font-size: 8px;
}
.row-line .event {
  width: 260px;
  text-align: left;
  float: right;
  color: #7A7979;
}
.event .time {
  font-size: 10px;
}
.event .ev {
  font-weight: bold;
  font-size: 18px;
  margin-top: -2px;
}
.ash-bg {
  background: #4F4F4F;
  color: #FFF;
  padding-top: 50px;
}
.ash-bg h4 {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 20px;
}
.ash-bg ul {
  margin-left: -35px;
  list-style: none;
}
.ash-bg .footer-text {
  font-size: 11px;
  margin-bottom: 20px;
}
.footer-text a {
  color: #FFF;
}
.darker {
  color: #FFF;
  padding-top: 25px;
  text-align: center;
  height: 60px;
  background: #393737;
}
.ash-bg form input {
  width: 100%;
  height: 40px;
  border: 0;
  padding-left: 10px;
  color: #737070;
  font-weight: 900;
  font-size: 15px;
}
.ash-bg form .btn {
  margin-top: 10px;
  width: 120px;
  height: 40px;
  border: 0;
  color: #FFF;
  background: #7E241C;
}